.logo {
    width: 180px;
}
.multi-choice{
    width: 60px;
}
.btn-danger{
    border-radius: 0px !important;
}

.hero-section {
    background-color: #140033; /* Used if the image is unavailable */
    height: 90vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .welcome-header {
      font-weight: 900;
  }
  .hero-img {
      position: absolute;
      width: 35vw;
      right: -35%;
  }
  .border-left{
      border-left: 4px solid red !important;
  }

  .popular-trip{
      color: #140033;
      font-weight: 900;
  }

  .card-footer{
      background-color: white !important;
  }
  .dispatch{
      color: black;
      font-size: 18px;
      font-weight: bold;
  }
  .terminal-info{
      font-size: 13px;
      color: grey;
  }

  .view-details{
      float: right;
      color: red;
  }
  .dstv-section-text{
      font-weight: 900;
  }

  .footer-logo{
      width: 200px;
  }

  .footer-header{
      font-weight: 900;
  }
  .footer-link{
      text-decoration-style: none;
  }

  .social-icon {
      width: 20px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="card"] {
      width: 100%;
    }
    .client-section {
        display: flex !important;
        max-width: 100%;
    }
  }